.navbar-color {
    background-color: rgb(167, 125, 216);
}

.btn-color {
    background-color: rgb(171, 138, 209);
    color: white;
}

.btn-color:hover {
    background-color: rgb(148, 99, 204);
    color: white;
}

.text-desc {
    color: rgb(48, 133, 190);
}